= haml(:_team_input_js, :layout => false)
= haml(:_overall_rankings_team_page_js, :layout => false)

:javascript
  $(document).ready(function () {
    $('.select-event').bind('click', function () {
      document.location = '/';
    });

    $('.select-team').bind('click', function () {
      document.location = getEventUrl(document.location.pathname);
    });
    
    $('.view-team').bind('click', function () {
      document.location.reload();
    });

    if ($('td.rank').html() <= 10) {
      $('tr.rank').css('background-color','#94F297');
      $('td.rank').css('color','#green');
    }
    else if ($('td.rank').html() > 10 && $('td.rank').html() <= 20) {
      $('tr.rank').css('background-color','#FFFF8F');
      $('td.rank').css('color','#black');
    }
    else if ($('td.rank').html() > 20) {
      $('tr.rank').css('background-color','#FF8F8F');
      $('td.rank').css('color','red');
    }

    var team_number = $('span#hidden-number').html();
    $('table tr td:contains("' + team_number + '")').css('font-weight', 'bold');

    function getEventUrl(s) {
      var sp = s.split('/');
      var previous_url = sp[0] + '/' + sp[1] + '/' + sp[2];
      return previous_url;
    }
  });

#breadcrumbs
  %ul
    %li
      %a{:class => 'select-event'} Select Event >>
    %li 
      %a{:class => 'select-team'} Overall Rankings >>
    %li 
      %a{:class => ['view-team', 'current-crumb']} View Team

= haml(:_team_input, :layout => false)
= haml(:_team_input_js, :layout => false)
#overall-rankings
  = haml(:_overall_rankings, :layout => false)

#team-rankings
  %h2= "Team: ##{@team_number}"
  %table.team
    %tr.rank
      %td Team Rank:
      %td.rank= @team_stats[0]
    %tr
      %td Wins:
      %td= @team_stats[2]
    %tr
      %td Losses:
      %td= @team_stats[3]
    %tr
      %td Ties:
      %td= @team_stats[4]
    %tr
      %td Matches Played:
      %td= @team_stats[5]

    %tr
      %td Qualifying Score:
      %td= @team_stats[6]

    %tr
      %td Ranking Score:
      %td= @team_stats[7]

  %h2 Matches:
  - @team_match_results.reverse.each do |match_info|
    %table.pretty
      %tr
        %th.win-icon
        %th.match Match #
        %th Red Alliance
        %th Blue Alliance
        %th.score Score
      
      %tr
        - if (match_info[8].to_i > match_info[9].to_i) && (match_info[2..4].include?(@team_number))
          %td 
            %img{:src => '/images/smiley.png', :alt => 'WIN'}
        - elsif (match_info[8].to_i < match_info[9].to_i) && (match_info[5..7].include?(@team_number))
          %td
            %img{:src => '/images/smiley.png', :alt => 'WIN'}
        - else
          %td
        %td= match_info[1]
        %td.teams= "#{match_info[2]}, #{match_info[3]}, #{match_info[4]}"
        %td.teams= "#{match_info[5]}, #{match_info[6]}, #{match_info[7]}"
        %td= "#{match_info[8]} - #{match_info[9]}"
%span#hidden-number.hidden= "#{@team_number}"
