= haml(:_team_input_js, :layout => false)

:javascript
  $(document).ready(function () {
    if ($('td.rank').html() <= 10) {
      $('tr.rank').css('background-color','#94F297');
      $('td.rank').css('color','#green');
    }
    else if ($('td.rank').html() > 10 && $('td.rank').html() <= 20) {
      $('tr.rank').css('background-color','#FFFF8F');
      $('td.rank').css('color','#black');
    }
    else if ($('td.rank').html() > 20) {
      $('tr.rank').css('background-color','#FF8F8F');
      $('td.rank').css('color','red');
    }

    var team_number = $('span#hidden-number').html();
    $('table tr td:contains("' + team_number + '")').css('font-weight', 'bold');

    function getEventUrl(s) {
      var sp = s.split('/');
      var previous_url = sp[0] + '/' + sp[1] + '/' + sp[2];
      return previous_url;
    }

    $('#sidebar-previous').removeClass('hidden');
    $('#sidebar-previous button').html('Choose Team');

    $('#sidebar-previous').bind('click', function () {
      document.location = getEventUrl(document.location.pathname);
    });
  });

-# The team selector partial doesn't work on this page.
-# = haml(:_team_input, :layout => false)

%h2= "Team #: #{@team_number}"
-# #{@team_stats[0]}"
%hr
%table.pretty
  %tr.rank
    %td Team Rank:
    %td.rank= @team_stats[0]
  %tr
    %td Matches Played:
    %td= @team_stats[2]
  %tr
    %td Seeding Score:
    %td= @team_stats[3]
  %tr
    %td Coopertition Bonus:
    %td= @team_stats[4]
  %tr
    %td Hanging Points:
    %td= @team_stats[5]

%h2 Match History
%hr
- @team_match_results.reverse.each do |match_info|
  %br
  %table.pretty
    %tr
      %th.match Match #
      %th Red Alliance
      %th Blue Alliance
      %th.score Score
    
    %tr
      %td= match_info[1]
      %td.teams= "#{match_info[2]}, #{match_info[3]}, #{match_info[4]}"
      %td.teams= "#{match_info[5]}, #{match_info[6]}, #{match_info[7]}"
      %td= "#{match_info[8]} - #{match_info[9]}"
%span#hidden-number.hidden= "#{@team_number}"
